<!doctype html>
<html lang="en" ng-app="portalApp">
<head>
    <title>Flexisys FM-Bot Portal</title>

    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <meta charset="utf-8">

    <link href="css/bootstrap_min_3_0_3.css" rel="stylesheet"/>
    <link href="css/portal.css" rel="stylesheet"/>

    <script src="js/angular_min_1_5_0.js"></script>
    <script src="js/portal.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body style="padding: 100px;">
<div ng-controller="PortalCtrl">
    <h1>Flexisys FM-Bot Portal</h1>
    <br>

    <h2>Users:</h2>

    <div>
        <table class="table table-bordered">
            <thead class="thead-inverse">
            <tr>
                <th>#<br></th>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in data.users"
                ng-click="selectUser(user); $event.stopPropagation();"
                ng-class="{selected: isUserSelected(user), notSelected: !isUserSelected(user)}">
                <th scope="row">{{$index + 1}}</th>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <input type="text" ng-model="data.message">
    <button ng-click="sendMessage();">Message</button>
    <br>
    <button ng-click="sendAction();">Action</button>
</div>
</body>
</html>